@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
body {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --purple: #820ad1;
  --black: #191919;
  --gray: #434343;
  --grayLight: #f8f8f8;
  --borderGray: #d1d1d1;
}

header {
  display: flex;
  height: 55px;
  background-color: var(--purple);
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.logo {
  margin-left: 20px;
  margin-right: 79px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav li {
  margin-right: 56px;
  font-weight: 600;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s linear;
}

nav li:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
  transition: all 0.3s linear;
}

.main {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > div {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.textMain {
  margin-left: 16px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.textMain span:nth-child(1) {
  margin-bottom: 10px;
  color: var(--gray);
}

.textMain span:nth-child(2) {
  color: var(--purple);
}

.secondary {
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grayLight);
}

.secondary > div {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.textSecondary {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: var(--purple);
  font-weight: 300;
}

.plans {
  display: flex;
  background-color: var(--purple);
  min-height: 468px;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}

.plans > div {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--purple);
  padding: 0px 20px;
}

.plans__text {
  font-size: 28px;
  color: white;
  font-weight: 700;
  margin-bottom: 26px;
}

.plans__group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.plans__group__cards {
  background-color: white;
  border-radius: 11px;
  height: 345px;
  min-width: 276px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  margin: 10px 5px;
}

.plans__group__cards img {
  height: 40px;
  width: 40px;
}

.plans__group__cards > span:nth-child(1) {
  font-size: 57px;
  font-weight: 500;
  margin-bottom: 5px;
}

.plans__group__cards span:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 9px;
}

.plans__group__cards span:nth-of-type(3) {
  font-size: 18px;
  margin: 3px 0px;
  display: block;
}

.plans__group__cards button {
  background-color: var(--purple);
  height: 40px;
  width: 241px;
  border: 0;
  border-radius: 25px;
  color: white;
  font-size: 22px;
  line-height: 22px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.plans__group__cards button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.plans__benefits {
  margin-top: 13px;
  color: black;
}

.plans__benefits li {
  list-style-type: disc;
  margin-bottom: 8px;
  color: var(--purple);
}

.plans__benefits li > span {
  display: flex;
  font-size: 12px;
  margin-top: 4px;
}

.plans__price {
  font-size: 31px;
  font-weight: 800;
}

.plans__price > span {
  font-size: 53px;
}

/* Chip */

.chip {
  display: flex;
  background-color: var(--grayLight);
  min-height: 346px;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}

.chip > div {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--purple);
  padding: 0px 20px;
}

.chip img {
  margin-right: 15px;
}

.chip h3 {
  font-size: 51px;
}

.chip h1 {
  margin-top: 15px;
  font-size: 20px;
}

.benefits {
  display: flex;
  background-color: white;
  min-height: 198px;
  justify-content: center;
  align-items: center;
}

.benefits > div {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: var(--purple);
  flex-wrap: wrap;
  padding: 0px 20px;
}

.benefits__card {
  display: flex;
  height: 168px;
  width: 352px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  border: 1px solid var(--borderGray);
  box-shadow: 3px 3px 8px rgb(0 0 0 / 12%);
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--gray);
}

.benefits__card__info {
  font-size: 24px;
}

.benefits__card__icon {
  width: 100px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.portabilidade {
  display: flex;
  background-color: var(--purple);
  min-height: 231px;
  justify-content: center;
  align-items: center;
}

.portabilidade > div {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
  padding: 0px 20px;
}

.portabilidade__info {
  flex: 1;
}

.portabilidade__img {
  flex: 1;
  width: 100%;
}

.portabilidade h3 {
  font-size: 22px;
}

.portabilidade h2 {
  font-size: 38px;
  font-weight: 700;
  margin: 6px 0px;
}

footer {
  display: flex;
  background-color: var(--black);
  min-height: 231px;
  justify-content: center;
  align-items: center;
}

footer > div {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding: 0px 20px;
}

.footer__info {
  width: 100%;
  text-align: center;
}

/* Responsive */

@media (max-width: 600px) {
  header {
    height: 100%;
  }

  nav {
    flex-direction: column;
    height: 100%;
    padding: 10px;
  }

  .logo {
    margin: 0px;
    margin-bottom: 10px;
  }

  nav ul {
    width: 100%;
    padding: 0px 40px;
    justify-content: space-between;
  }

  nav li {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.3s linear;
  }

  nav li:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
    transition: all 0.3s linear;
  }

  .chip > div {
    padding: 0px 20px;
  }

  .chip h3 {
    font-size: 30px;
  }

  .chip h1 {
    font-size: 18px;
  }

  .main {
    height: 100%;
    padding: 20px 0px;
  }

  .main > div {
    flex-direction: column;
  }

  .secondary {
    padding: 0px 10px;
  }

  .textMain {
    font-size: 25px;
  }

  .textSecondary {
    font-size: 20px;
  }

  .benefits > div {
    justify-content: center;
    padding-top: 20px;
  }

  footer > div {
    flex-direction: column;
  }

  .footer__info {
    margin-top: 30px;
  }

  .portabilidade > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portabilidade__info {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18px 0px;
}
}
